@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@900&display=swap');

*,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #f7f7f7;
    width: 100%;
    height: 100px;
    position: fixed;
}

nav {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0 auto;
    padding: 20px 25px;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    max-width: 1140px;
    font-size: 24px;
    margin-left: 25px;
}

.header-text span {
    color: orange;
    font-size: 50px;
    line-height: 30px;
}


.lists {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    width: 670px;
    text-transform: uppercase;
    min-width: 640px;
}


a:link {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}




a:hover {
    color: orange;
    cursor: pointer;
}




#hamburger {
    background-color: orange;
    padding: 4px 12px;
    height: fit-content;
    cursor: pointer;
    display: none;
}

#hamburger svg {
    fill: white;
    width: 25px;
    
}

@media(max-width:640px) {
    .header-text {
        font-size: 20px;
    }
    #hamburger svg{
        width: 20px;
    }
}
@media (max-width:400px){
    #hamburger svg{
        width: 15px;
    }
    #hamburger{
        padding: 4px 8px;
    }
}

@media (max-width:450px){
    .list{
        font-size: 13px;
    }
}


@media(max-width:1040px) {
    
    .lists {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        flex-direction: column;
        gap: 0px;
        box-shadow: 0px 7px 9px -5px #8080804c;
        background-color: #fff;
        z-index: -1;
        animation-name: animate-lists;
        animation-duration: 1s;
        box-shadow: -1px 5px 6px 0px;
        min-width: 200px;
    }
    
    .list {
        width: 100%;
        text-align: center;
        border-bottom: 0.5px solid grey;
        padding: 15px 0px;

    }

    .list:last-child {
        border-bottom: none;
    }

    #hamburger {
        display: block;
    }

}

@keyframes animate-lists {
    0% {
        margin-top: -250px;
    }

    100% {
        margin-top: 0px;
    }
}


.active-navbar {
    display: flex;
}